In [1]:
# Importing important Libraries

from utils import *
from data_validation_checks import *
from constants import *
from city_tier_mapping import *
from significant_categorical_level import *
from schema import *

In [2]:
# Checking build_dbs working properly or not
build_dbs(DB_PATH, DB_FILE_NAME)

DB is Already Exsist
/home/Assignment/01_data_pipeline/scripts

'DB Exsists'

In [3]:
cnx = sqlite3.connect(DB_PATH+DB_FILE_NAME)

In [4]:
test = pd.read_csv(DATA_DIRECTORY+'leadscoring_test.csv')
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 45 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   created_date                                              100 non-null    object
 1   city_mapped                                               92 non-null     object
 2   first_platform_c                                          100 non-null    object
 3   first_utm_medium_c                                        100 non-null    object
 4   first_utm_source_c                                        100 non-null    object
 5   total_leads_droppped                                      100 non-null    float64
 6   referred_lead                                             100 non-null    float64
 7   1_on_1_industry_mentorship                                0 non-null      float64
 8   call_us_button_clicked                                    0 non-null      float64
 9   career_assistance                                         0 non-null      float64
 10  career_coach                                              0 non-null      float64
 11  career_impact                                             0 non-null      float64
 12  careers                                                   0 non-null      float64
 13  chat_clicked                                              0 non-null      float64
 14  companies                                                 0 non-null      float64
 15  download_button_clicked                                   0 non-null      float64
 16  download_syllabus                                         0 non-null      float64
 17  emi_partner_click                                         0 non-null      float64
 18  emi_plans_clicked                                         0 non-null      float64
 19  fee_component_click                                       0 non-null      float64
 20  hiring_partners                                           0 non-null      float64
 21  homepage_upgrad_support_number_clicked                    0 non-null      float64
 22  industry_projects_case_studies                            0 non-null      float64
 23  live_chat_button_clicked                                  0 non-null      float64
 24  payment_amount_toggle_mover                               0 non-null      float64
 25  placement_support                                         0 non-null      float64
 26  placement_support_banner_tab_clicked                      0 non-null      float64
 27  program_structure                                         0 non-null      float64
 28  programme_curriculum                                      0 non-null      float64
 29  programme_faculty                                         0 non-null      float64
 30  request_callback_on_instant_customer_support_cta_clicked  0 non-null      float64
 31  shorts_entry_click                                        0 non-null      float64
 32  social_referral_click                                     0 non-null      float64
 33  specialisation_tab_clicked                                0 non-null      float64
 34  specializations                                           0 non-null      float64
 35  specilization_click                                       0 non-null      float64
 36  syllabus                                                  0 non-null      float64
 37  syllabus_expand                                           0 non-null      float64
 38  syllabus_submodule_expand                                 0 non-null      float64
 39  tab_career_assistance                                     0 non-null      float64
 40  tab_job_opportunities                                     0 non-null      float64
 41  tab_student_support                                       0 non-null      float64
 42  view_programs_page                                        0 non-null      float64
 43  whatsapp_chat_click                                       0 non-null      float64
 44  app_complete_flag                                         100 non-null    int64
dtypes: float64(39), int64(1), object(5)
memory usage: 35.3+ KB

In [5]:
# checking build_dbs working properly or not
load_data_into_db(DB_PATH, DB_FILE_NAME, DATA_DIRECTORY)

Reading the csv file:  leadscoring_test.csv
Replacing null values present in the 'toal_leads_dropped' and 'referred_lead' with 0
Saving processed dataframe in the db in the table named 'loaded_data
Closing database connection

In [6]:
load_data_into_db(DB_PATH, DB_FILE_NAME, DATA_DIRECTORY)
df_test = pd.read_sql('select * from loaded_data', cnx)
df_test.info()

Reading the csv file:  leadscoring_test.csv
Replacing null values present in the 'toal_leads_dropped' and 'referred_lead' with 0
Saving processed dataframe in the db in the table named 'loaded_data
Closing database connection
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 45 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   created_date                                              100 non-null    object
 1   city_mapped                                               92 non-null     object
 2   first_platform_c                                          100 non-null    object
 3   first_utm_medium_c                                        100 non-null    object
 4   first_utm_source_c                                        100 non-null    object
 5   total_leads_droppped                                      100 non-null    float64
 6   referred_lead                                             100 non-null    float64
 7   1_on_1_industry_mentorship                                0 non-null      object
 8   call_us_button_clicked                                    0 non-null      object
 9   career_assistance                                         0 non-null      object
 10  career_coach                                              0 non-null      object
 11  career_impact                                             0 non-null      object
 12  careers                                                   0 non-null      object
 13  chat_clicked                                              0 non-null      object
 14  companies                                                 0 non-null      object
 15  download_button_clicked                                   0 non-null      object
 16  download_syllabus                                         0 non-null      object
 17  emi_partner_click                                         0 non-null      object
 18  emi_plans_clicked                                         0 non-null      object
 19  fee_component_click                                       0 non-null      object
 20  hiring_partners                                           0 non-null      object
 21  homepage_upgrad_support_number_clicked                    0 non-null      object
 22  industry_projects_case_studies                            0 non-null      object
 23  live_chat_button_clicked                                  0 non-null      object
 24  payment_amount_toggle_mover                               0 non-null      object
 25  placement_support                                         0 non-null      object
 26  placement_support_banner_tab_clicked                      0 non-null      object
 27  program_structure                                         0 non-null      object
 28  programme_curriculum                                      0 non-null      object
 29  programme_faculty                                         0 non-null      object
 30  request_callback_on_instant_customer_support_cta_clicked  0 non-null      object
 31  shorts_entry_click                                        0 non-null      object
 32  social_referral_click                                     0 non-null      object
 33  specialisation_tab_clicked                                0 non-null      object
 34  specializations                                           0 non-null      object
 35  specilization_click                                       0 non-null      object
 36  syllabus                                                  0 non-null      object
 37  syllabus_expand                                           0 non-null      object
 38  syllabus_submodule_expand                                 0 non-null      object
 39  tab_career_assistance                                     0 non-null      object
 40  tab_job_opportunities                                     0 non-null      object
 41  tab_student_support                                       0 non-null      object
 42  view_programs_page                                        0 non-null      object
 43  whatsapp_chat_click                                       0 non-null      object
 44  app_complete_flag                                         100 non-null    int64
dtypes: float64(2), int64(1), object(42)
memory usage: 35.3+ KB

In [7]:
# Checking load_data_into_db working properly or not
map_city_tier(DB_PATH, DB_FILE_NAME, city_tier_mapping)

Connecting to the database
Reading the data from the loaded_data
Mapping cities according  to their tier
Dropping the city_mapped column
Saving the processed dataframe in the db in the table named 'city_tier_mapped'
Closing the database connection

In [8]:
df_test = pd.read_sql('select * from city_tier_mapped', cnx)
df_test.head()

,created_date,first_platform_c,first_utm_medium_c,first_utm_source_c,total_leads_droppped,referred_lead,1_on_1_industry_mentorship,call_us_button_clicked,career_assistance,career_coach,...,syllabus,syllabus_expand,syllabus_submodule_expand,tab_career_assistance,tab_job_opportunities,tab_student_support,view_programs_page,whatsapp_chat_click,app_complete_flag,city_tier
0,2021-11-19 15:25:38,Level3,Level0,Level0,1.0,0.0,None,None,None,None,...,None,None,None,None,None,None,None,None,1,3.0
1,2021-08-24 15:17:20,Level3,Level0,Level0,2.0,0.0,None,None,None,None,...,None,None,None,None,None,None,None,None,1,3.0
2,2021-07-20 16:01:20,Level14,Level2,Level2,1.0,0.0,None,None,None,None,...,None,None,None,None,None,None,None,None,0,1.0
3,2021-09-04 14:00:42,Level7,Level0,Level0,4.0,0.0,None,None,None,None,...,None,None,None,None,None,None,None,None,1,1.0
4,2022-01-13 05:41:45,Level8,Level16,Level2,1.0,0.0,None,None,None,None,...,None,None,None,None,None,None,None,None,0,1.0

In [9]:
# Checking map_categorical_vars working properly or not
map_categorical_vars(DB_PATH, DB_FILE_NAME, list_platform, list_medium, list_source)

Connecting to the database
Reading the data from the mapped_df
Mapping all the unsignificant variables present in first_platform_c
Mapping all the unsignificant variables present in first_utm_medium_c
Mapping all the unsignificant variables present in first_utm_source_c
Saving processed df in the db in a table named 'categorical_variables_mapped'
Closing the database connection

In [10]:
df_test = pd.read_sql('select * from categorical_variables_mapped', cnx)
df_test.head()

,created_date,first_platform_c,first_utm_medium_c,first_utm_source_c,total_leads_droppped,referred_lead,1_on_1_industry_mentorship,call_us_button_clicked,career_assistance,career_coach,...,syllabus,syllabus_expand,syllabus_submodule_expand,tab_career_assistance,tab_job_opportunities,tab_student_support,view_programs_page,whatsapp_chat_click,app_complete_flag,city_tier
0,2022-02-10 08:28:30,Level0,others,others,1.0,0.0,None,None,None,None,...,None,None,None,None,None,None,None,None,0,2.0
1,2021-11-12 07:02:01,Level0,others,others,1.0,0.0,None,None,None,None,...,None,None,None,None,None,None,None,None,0,1.0
2,2022-01-12 09:57:33,others,Level3,others,1.0,0.0,None,None,None,None,...,None,None,None,None,None,None,None,None,0,3.0
3,2022-02-11 09:00:25,others,Level13,others,1.0,0.0,None,None,None,None,...,None,None,None,None,None,None,None,None,0,1.0
4,2021-10-07 15:12:12,Level0,Level3,others,2.0,0.0,None,None,None,None,...,None,None,None,None,None,None,None,None,1,1.0

In [11]:
# Checking interactions_mapping working properly or not
interactions_mapping(DB_PATH, DB_FILE_NAME, INTERACTION_MAPPING, INDEX_COLUMNS)

Connecting to the database
Reading the data from the categorical_variables_mapped
Reading the interaction_mapping from categorical_variables_mapped
Unpivoting interaction columns and put values in the rows
Handling  nulls in the interaction value column
Mapping the interaction type column with the mapping file to get interaction mapping
Dropping  interaction type column as its having not much needed
Pivoting interaction mapping column values to the individual columns in the dataset
Saving processed df in the db in a table named 'interactions_mapped'
Closing the database connection

In [12]:
cnx = sqlite3.connect(DB_PATH+DB_FILE_NAME)
df_test = pd.read_sql('select * from interactions_mapped', cnx)
df_test.head()

,created_date,city_tier,first_platform_c,first_utm_medium_c,first_utm_source_c,total_leads_droppped,referred_lead,app_complete_flag,assistance_interaction,career_interaction,payment_interaction,social_interaction,syllabus_interaction
0,2021-07-01 07:32:25,1.0,Level3,others,Level16,2.0,0.0,1,0,0,0,0,0
1,2021-07-05 04:26:31,1.0,Level2,Level6,Level7,2.0,0.0,0,0,0,0,0,0
2,2021-07-08 11:28:20,1.0,Level7,Level3,Level6,1.0,0.0,1,0,0,0,0,0
3,2021-07-11 05:39:39,3.0,Level3,Level0,Level0,4.0,0.0,1,0,0,0,0,0
4,2021-07-12 16:56:30,1.0,Level3,Level0,Level0,6.0,0.0,1,0,0,0,0,0

In [13]:
# Checking raw_data_schema_check working properly or not
raw_data_schema_check(DB_PATH, DB_FILE_NAME, raw_data_schema)

Connecting to the database
Reading data from the loaded_data
Length of the loaded_data column is :  45
Length of the raw_data_schema length is :  45
Raw datas schema is in line with the  schema.py
Closing the connection

In [14]:
cnx = sqlite3.connect(DB_PATH+DB_FILE_NAME)
loaded_data = pd.read_sql('select * from loaded_data', cnx)
loaded_data_columns = list(loaded_data.columns)
loaded_data.head()

,created_date,city_mapped,first_platform_c,first_utm_medium_c,first_utm_source_c,total_leads_droppped,referred_lead,1_on_1_industry_mentorship,call_us_button_clicked,career_assistance,...,specilization_click,syllabus,syllabus_expand,syllabus_submodule_expand,tab_career_assistance,tab_job_opportunities,tab_student_support,view_programs_page,whatsapp_chat_click,app_complete_flag
0,2021-11-19 15:25:38,ghazipur,Level3,Level0,Level0,1.0,0.0,None,None,None,...,None,None,None,None,None,None,None,None,None,1
1,2021-08-24 15:17:20,murbad,Level3,Level0,Level0,2.0,0.0,None,None,None,...,None,None,None,None,None,None,None,None,None,1
2,2021-07-20 16:01:20,mumbai,Level14,Level2,Level2,1.0,0.0,None,None,None,...,None,None,None,None,None,None,None,None,None,0
3,2021-09-04 14:00:42,bengaluru,Level7,Level0,Level0,4.0,0.0,None,None,None,...,None,None,None,None,None,None,None,None,None,1
4,2022-01-13 05:41:45,ncr,Level8,Level16,Level2,1.0,0.0,None,None,None,...,None,None,None,None,None,None,None,None,None,0

In [15]:
# Checking model_input_schema_check working properly or not
model_input_schema_check(DB_PATH, DB_FILE_NAME, model_input_schema)

Connecting to the database
Reading the data from the interactions_mapped
Length of the interactions_mapped column is :  13
Length of the raw_data_schema is :  7
Models input schema is in line with schema.py
Closing the connection

In [16]:
interactions_mapped = pd.read_sql('select * from interactions_mapped', cnx)
interactions_mapped_columns = list(interactions_mapped.columns)
interactions_mapped.head()

,created_date,city_tier,first_platform_c,first_utm_medium_c,first_utm_source_c,total_leads_droppped,referred_lead,app_complete_flag,assistance_interaction,career_interaction,payment_interaction,social_interaction,syllabus_interaction
0,2021-07-01 07:32:25,1.0,Level3,others,Level16,2.0,0.0,1,0,0,0,0,0
1,2021-07-05 04:26:31,1.0,Level2,Level6,Level7,2.0,0.0,0,0,0,0,0,0
2,2021-07-08 11:28:20,1.0,Level7,Level3,Level6,1.0,0.0,1,0,0,0,0,0
3,2021-07-11 05:39:39,3.0,Level3,Level0,Level0,4.0,0.0,1,0,0,0,0,0
4,2021-07-12 16:56:30,1.0,Level3,Level0,Level0,6.0,0.0,1,0,0,0,0,0